<div class="mainCon">
	<section class="aboutBannerBx">
		<div class="aboutBannerInn" style="background:url(assets/img/frontend/home-banner.jpg) 0 0 no-repeat; background-size:cover;">
	    	<div class="bannertrans"><i></i></div>
        </div>
        <div class="home-Logo"><a href="#"><img src="assets/img/frontend/peach-logo.png" alt=""></a></div>
        <div class="homeContact"><small>Please Contact :</small>  +90-8585896</div>
        <div class="homeLogin">
        	<a ng-click = "loginPopup($event)" class="loginBtn transition pointer">Log In</a>
            <a ng-click = "signUpPopup($event)" class="signupBtn transition pointer">Sign Up</a>
        </div>
	</section>
	<section class="aboutDescBx">
		<div class="container">
			<div class="aboutusDesc">
				<h2>About Us</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum.Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. Praesent consectetur ante ut erat egestas vulputate. Aenean nec efficitur velit. In augue neque, gravida at malesuada vitae, pellentesque interdum nibh.Aliquam consequat, ex quis semper.</p>
				<p>Curabitur vehicula varius enim pharetra volutpat. Donec posuere dapibus odio, id molestie orci viverra ac. Quisque nec venenatis elit, vel lobortis quam. Nulla sit amet mauris suscipit libero blandit blandit. Ut at odio nisi. Donec vel velit non dolor facilisis finibus at in urna. Mauris eget facilisis arcu.Nulla facilisi. Duis lobortis sem velit, a lacinia urna imperdiet ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur mi nunc, congue sit amet aliquet id, iaculis vel erat. Integer commodo at tortor ac vulputate. Curabitur pretium mollis purus ut condimentum.</p>
		 	</div>
		</div>
	</section>
	<section class="aboutpeachBg">
        <div class="howitHd">How it Works</div> 
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="whypeachList">
                        <i><img src="assets/img/frontend/peachlist-1.jpg" alt="" class="transition"></i>
                        <span><a href="#" class="transition">Young &amp; Professional</a></span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="whypeachList">
                        <i><img src="assets/img/frontend/peachlist-2.jpg" alt="" class="transition"></i>
                        <span><a href="#" class="transition">Cost Effective</a></span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="whypeachList">
                        <i><img src="assets/img/frontend/peachlist-3.jpg" alt="" class="transition"></i>
                        <span><a href="#" class="transition">Best Service</a></span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="whypeachList">
                        <i><img src="assets/img/frontend/peachlist-4.jpg" alt="" class="transition"></i>
                        <span><a href="#" class="transition">Professional</a></span>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <section class="ourstoriesBg">
    	<div class="container">
    		<div class="howitHd">Our Stories</div>
    		<div class="row">
    			<div class="col-sm-6 storiesTxt">
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum. Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa nec purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. </p>
    				<p>Praesent consectetur ante ut erat egestas vulputate. Aenean nec efficitur velit. In augue neque, gravida at malesuada vitae, pellentesque interdum nibh. Nam vel nulla a augue suscipit auctor tempor nec lacus. </p>
    			</div>
    			<div class="col-sm-6 storiesTxt">
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum. Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa nec purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. </p>
    				<p>Praesent consectetur ante ut erat egestas vulputate. Aenean nec efficitur velit. In augue neque, gravida at malesuada vitae, pellentesque interdum nibh. Nam vel nulla a augue suscipit auctor tempor nec lacus. </p>
    			</div>
    		</div>
    	</div>
    </section>
</div>