<div class="mainCon">
	<section class="aboutBannerBx">
		<div class="aboutBannerInn" style="background:url(assets/img/frontend/home-banner.jpg) 0 0 no-repeat; background-size:cover;">
	    	<div class="bannertrans"><i></i></div>
        </div>
        <div class="home-Logo"><a href="#"><img src="assets/img/frontend/peach-logo.png" alt=""></a></div>
        <div class="homeContact"><small>Please Contact :</small>  +90-8585896</div>
        <div class="homeLogin">
        	<a ng-click = "loginPopup($event)" class="loginBtn transition pointer">Log In</a>
            <a ng-click = "signUpPopup($event)" class="signupBtn transition pointer">Sign Up</a>
        </div>
	</section>
	<section class="aboutDescBx">
		<div class="container">
        <div class="helpHd">
          <strong>Help &amp; Faq</strong>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor.</span>
        </div>
        <div class="helpsrchBx">
            <md-input-container class="md-block">
              <input ng-model="user.street" class="helpInp" placeholder="Enter a serch option">
            </md-input-container>
            <md-button class="md-accent searchIcon"><i class="material-icons">search</i></md-button>
        </div>
        <div class="clearfix">
          <div class="help-Left">
              <div class="helpList">
                <ul>
                  <li>
                    <strong>Lorem Ipsum is simply?</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in risus consectetur, sollicitudin arcu sed, iaculis nisi. Duis pellentesque, Maecenas in risus consectetur, sollicitudin arcu sed, iaculis nisi. Duis pellentesque, </p>
                    <p>Ante ut mattis tempor, sem nisi rutrum arcu, nec tempor diam diam et risus. Etiam vel elementum libero, eu venenatis felis. Etiam vel elementum libero, eu venenatis felis. </p>
                  </li>
                  <li>
                    <strong>Lorem Ipsum is simply?</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in risus consectetur, sollicitudin arcu sed, iaculis nisi. Duis pellentesque, sollicitudin arcu sed, iaculis nisi. Duis pellentesque, </p>
                    <p>Ante ut mattis tempor, sem nisi rutrum arcu, nec tempor diam diam et risus. Etiam vel elementum libero, eu venenatis felis. Etiam vel elementum libero, eu venenatis felis. </p>
                  </li>
                </ul>
              </div>
          </div>
          <div class="help-Right">
              <div class="helpList">
                <ul>
                  <li>
                    <strong>Lorem ipsum dolor sit amet, consectetur?</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in risus consectetur, sollicitudin arcu sed, iaculis nisi. Duis pellentesque,  sollicitudin arcu sed, iaculis nisi. Duis pellentesque, </p>
                  </li>
                  <li>
                    <strong>Lorem ipsum dolor sit amet, consectetur?</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in risus consectetur, sollicitudin arcu sed, iaculis nisi. Duis pellentesque, Maecenas in risus consectetur, sollicitudin arcu sed, iaculis nisi. Duis pellentesque, </p>
                    <p>Ante ut mattis tempor, sem nisi rutrum arcu, nec tempor diam diam et risus. Etiam vel elementum libero, eu venenatis felis. Etiam vel elementum libero, eu venenatis felis. </p>
                  </li>
                  <li>
                    <strong>Lorem ipsum dolor sit amet, consectetur?</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in risus   
                      consectetur, Maecenas in risus consectetur, sollicitudin arcu sed, iaculis nisi. Duis pellentesque, <br> viverra turpis a nibh dictum congue. 
                    </p>
                  </li>
                </ul>
              </div>
          </div>
        </div>
		</div>
	</section>
</div>
