<div class="mainCon">
	<section class="aboutBannerBx">
		<div class="aboutBannerInn" style="background:url(assets/img/frontend/home-banner.jpg) 0 0 no-repeat; background-size:cover;">
	    	<div class="bannertrans"><i></i></div>
        </div>
        <div class="home-Logo"><a href="#"><img src="assets/img/frontend/peach-logo.png" alt=""></a></div>
        <div class="homeContact"><small>Please Contact :</small>  +90-8585896</div>
        <div class="homeLogin">
        	<a ng-click = "loginPopup($event)" class="loginBtn transition pointer">Log In</a>
            <a ng-click = "signUpPopup($event)" class="signupBtn transition pointer">Sign Up</a>
        </div>
	</section>
	<section class="aboutDescBx">
		<div class="howitContainer">
			<div class="howitHd">How it Works</div>
			<div class="howitPage">
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                  <md-tab label="For Customer">
                    <md-content class="md-padding">
                      <div class="howitList">
                      	<ul>
                      		<li class="howitpadd">
                            <div class="howit_Right"><img src="assets/img/frontend/howit-img1.png"></div>
                      			<div class="howit_Left">
                      				<strong>Register  Yourself</strong>
                      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum.Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. Praesent consectetur ante ut erat egestas vulputate. </p>
                      			</div>
                      			
                      		</li>
                      		<li>
                      			<div class="howit_Left1"><img src="assets/img/frontend/howit-img2.png"></div>
                      			<div class="howit_Right1">
                      				<strong>Search The Mate</strong>
                      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum.Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. Praesent consectetur ante ut erat egestas vulputate. </p>
                      			</div>
                      		</li>
                          <li class="howitpadd">
                            <div class="howit_Right"><img src="assets/img/frontend/howit-img3.png"></div>
                            <div class="howit_Left">
                              <strong>Book Your Event</strong>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum.Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. Praesent consectetur ante ut erat egestas vulputate. </p>
                            </div>
                            
                          </li>
                          <li>
                            <div class="howit_Left1"><img src="assets/img/frontend/howit-img4.png"></div>
                            <div class="howit_Right1">
                              <strong>Make Payment</strong>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum.Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. Praesent consectetur ante ut erat egestas vulputate. </p>
                            </div>
                          </li>
                      	</ul>
                      </div>
                    </md-content>
                  </md-tab>
                  <md-tab label="For Service Provider">
                    <md-content class="md-padding">
                      <div class="howitList">
                        <ul>
                          <li class="howitpadd">
                            <div class="howit_Right"><img src="assets/img/frontend/howit-img1.png"></div>
                            <div class="howit_Left">
                              <strong>Register  Yourself</strong>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum.Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. Praesent consectetur ante ut erat egestas vulputate. </p>
                            </div>
                            
                          </li>
                          <li>
                            <div class="howit_Left1"><img src="assets/img/frontend/howit-img2.png"></div>
                            <div class="howit_Right1">
                              <strong>Search The Mate</strong>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum.Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. Praesent consectetur ante ut erat egestas vulputate. </p>
                            </div>
                          </li>
                          <li class="howitpadd">
                            <div class="howit_Right"><img src="assets/img/frontend/howit-img3.png"></div>
                            <div class="howit_Left">
                              <strong>Book Your Event</strong>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum.Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. Praesent consectetur ante ut erat egestas vulputate. </p>
                            </div>
                            
                          </li>
                          <li>
                            <div class="howit_Left1"><img src="assets/img/frontend/howit-img4.png"></div>
                            <div class="howit_Right1">
                              <strong>Make Payment</strong>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien justo, pretium ac libero id, suscipit consectetur ipsum.Sed lobortis rutrum erat et lobortis. Mauris risus dui, iaculis non purus nec, porttitor fringilla enim. Etiam vitae massa purus facilisis mollis in ut mauris. Maecenas vel magna eu sem varius consequat sit amet vel felis. Praesent consectetur ante ut erat egestas vulputate. </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </md-content>
                  </md-tab>
                </md-tabs>
              </md-content>         
			</div>
		</div>
	</section>
</div>