<div class="mainCon">
	<section class="aboutBannerBx">
		<div class="aboutBannerInn" style="background:url(assets/img/frontend/home-banner.jpg) 0 0 no-repeat; background-size:cover;">
	    	<div class="bannertrans"><i></i></div>
        </div>
        <div class="home-Logo"><a href="#"><img src="assets/img/frontend/peach-logo.png" alt=""></a></div>
        <div class="homeContact"><small>Please Contact :</small>  +90-8585896</div>
        <div class="homeLogin">
        	<a ng-click = "loginPopup($event)" class="loginBtn transition pointer">Log In</a>
            <a ng-click = "signUpPopup($event)" class="signupBtn transition pointer">Sign Up</a>
        </div>
	</section>
	<section class="aboutDescBx">
		<div class="container">
      <div class="privacypolicyBx">
          <h2>Privacy Policy</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a, varius sed magna. Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.</p>
          <p>Vivamus mattis elit vel nunc ultricies malesuada. Donec vel lacinia purus, ut aliquet tellus. Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel. Maecenas felis nibh, ultrices eget ipsum consequat, viverra auctor urna. In pharetra elementum nisi malesuada sagittis. Nunc aliquet volutpat odio, vitae varius nunc iaculis vel. Pellentesque gravida tempor diam, vel
          malesuada risus efficitur eu. Proin finibus dolor id eleifend tempus. </p>
          <p>Morbi fringilla tempor nulla in scelerisque. Nam diam diam, vehicula nec volutpat vitae, euismod sed felis. Donec non ultricies sapien. In in enim ac diam fermentum venenatis. Pellentesque volutpat lacinia nisi. Praesent cursus lorem neque, id hendrerit leo sagittis vitae. </p>
      </div>
      <div class="privacypolicyBx">
          <h2>How do we protect your personal information?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a, varius sed magna. Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.</p>
          <p>Vivamus mattis elit vel nunc ultricies malesuada. Donec vel lacinia purus, ut aliquet tellus. Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel. Maecenas felis nibh, ultrices eget ipsum consequat, viverra auctor urna. </p>
      </div>
      <div class="privacypolicyBx">
          <h2>What information do we collect about you?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a, varius sed magna. Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.</p>
          <p>Vivamus mattis elit vel nunc ultricies malesuada. Donec vel lacinia purus, ut aliquet tellus. Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel. Maecenas felis nibh, ultrices eget ipsum consequat, viverra auctor urna. </p>
      </div>
		</div>
	</section>
</div>
