<div class="content-wrapper" ng-init = "faqToedit()">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1 style="margin-top: 60px;">
         {{faqPageTittle}} New FAQ
      </h1>
   </section>
   <!-- Main content -->
   <section class="content">
      <div class="row">
         <div class="col-md-11">
            <div class="box box-info">
               <div class="box-header with-border">
                  <h3 class="box-title"></h3>
               </div>
               <form name="faqform" ng-submit="insertUpdateFaq()" novalidate="" style="padding-left: 60px;width: 84%;">
                  <md-input-container class="md-icon-float md-block">
                     <label>Question</label>
                     <input name="title" ng-model="faq.question" required/>
                  </md-input-container>
                  <md-input-container class="md-icon-float md-block" ng-show ="slugInput" >
                     <label>Slug</label>
                     <input name="slug" ng-model="faq.slug" required/>
                  </md-input-container>
                  <md-input-container class="md-icon-float md-block">
                     <label >Sort (Numbers Only)</label>
                     <input name="sort" ng-model="faq.sort" numbers-Only required/>
                  </md-input-container>
<md-input-container class="md-icon-float md-block" >
                     <label>Meta Title</label>
                     <input name="meta_title" ng-model="faq.meta_title" required/>
                  </md-input-container> 
                  <md-input-container class="md-icon-float md-block" >
                     <label>Meta Description</label>
                     <input name="meta_title" ng-model="faq.meta_description" required/>
                  </md-input-container>   
                  <md-input-container class="md-icon-float md-block" >
                     <label>Meta keyword</label>
                     <input name="meta_title" ng-model="faq.meta_keywords" required/>
                  </md-input-container>                  
                  <label id="ckLabel" style="color: #9EA0BA; margin-top: 20px;">Answer*</label>
                  <div ckeditor="options" ck-editor ng-model="faq.answer">             
                  </div>
                  <md-input-container flex="100" style = "width: 100%; margin-top: 50px;">
                    <label>Status</label>
                    <md-select name="favoriteColor" ng-model="faq.status" required>
                      <md-option value="1">Active</md-option>
                      <md-option value="0">In-Active</md-option>
                    </md-select>
                    <div class="errors" ng-messages="myForm.favoriteColor.$error">
                      <div ng-message="required">Required</div>
                    </div>
                  </md-input-container>
                  <div class="row" style="margin-left: 3px; ">
                     <div class="col-xs-4 pull-right" >
                        <button type="submit" class="btn btn-primary btn-block" style="margin: 30px 0px 30px 0px;">Submit</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>
</div>