<div class="content-wrapper" style="min-height: 916px;" ng-init="showFaqList()">
   <section class="content-header">
      <h1>
         Frequently Asked Questions
      </h1>
      <a href = "#/admin/faq/add-new-faq"><button class="btn btn-block btn-default pull-right" style="margin-bottom: 20px; margin-top: 30px; width: 12%;" type="button">Add New</button></a>
   </section>
   <section class="content">
      <div class="row">
         <div class="col-xs-12">
            <div style="padding: 8px;" class="comment-text faq-question" ng-repeat="data in faqData">
            <div style="width: 80%; display: inline-block;">
                {{$index+1}}). {{ data.question}}
            </div>              
               <div class="pull-right">
                  <a href="#/admin/faq/{{data._id}}" class=" fa fa-pencil-square-o">
                  </a>                        
                  &nbsp;&nbsp;&nbsp;
                  <a ng-click = "deleteFaq(data._id, $index);" class="fa fa-trash-o delete">
                  </a>
                  &nbsp;&nbsp;&nbsp;
                  <i title="Active" ng-if="data.status==1" class="fa fa-check-circle cursor-default active"></i>
                  <i title="In Active" ng-if="data.status==0" class="fa fa-times-circle cursor-default"></i>                   
               </div>
            </div>
         </div>
         <div class="col-md-11" ng-if="(faqData.length==0)">
            <div class="callout callout-info">
               <h4>Info!</h4>
               <p>No faq found in data table.</p>
            </div>
         </div>
      </div>
   </section>
</div>