   <section class="content-header">
      <h1 class="page_title">  FAQs  
         <span><button class="btn btn-primary "type="button" ng-click = "addNewFaq('/admin/faq/new')" >Add New</button></span>
      </h1>       
   </section>
   <section class="content">
      <div class="row">
         <div class="col-xs-12">
            <div class="comment-text faq-question bg-white" ng-repeat="data in faqList.faq">
            <div class="row">
               <div class="text-right faqaction col-md-2 pull-right">
                  <a ng-click = "to('/admin/faq/', data._id)">
                     <i class="material-icons edit">mode_edit
                     <md-tooltip md-direction="bottom">Click to edit</md-tooltip>
                     </i>
                  </a>                   
                  <a ng-click = "to('/admin/view-faq/', data._id)">
                     <i class="material-icons view">remove_red_eye
                     <md-tooltip md-direction="bottom">Click to view</md-tooltip>
                     </i>
                  </a> 
                  <a ng-click = "moveToTrash(data._id, $index);">
                     <i class="material-icons color-red">delete
                     <md-tooltip md-direction="bottom">Click to delete</md-tooltip>
                     </i>
                  </a>
                  
                  <i ng-if="data.status==1" class="material-icons color-blue cursor-default">done_all
                  <md-tooltip md-direction="bottom">Active</md-tooltip>
                  </i>
                  <i ng-if="data.status==0" class="material-icons info cursor-default">info
                  <md-tooltip md-direction="bottom">Inactive</md-tooltip>
                  </i>                                    
               </div>
               <div class="col-md-10 faqtxt pull-right" >
                   <span>{{$index+1}}.</span> {{ data.question}}
               </div>
            </div>   
            </div>
         </div>
   <div ng-if = "!faqList.success" ng-include="'backend/includes/views/no-result.html'">         
      </div>
   </section>