<section class="content-header">
   <h1 class="page_title">  FAQs  
      <span><button class="btn btn-primary "type="button" ng-click = "addNewFaq('/admin/faq/new')" >Add New</button></span>
   </h1>
</section>
<section class="content">
   <div class="row" ng-if = "faqList.success">
      <div class="box-header">
         <div class="col-sm-8">
            <a class="sort" style="border: 1px solid #0091EA;   padding: 5px;">
               <i ng-click = "sort('question', $event)" ng-class = "alphaAsc" aria-hidden="true">
               </i>
               <md-tooltip md-direction="top">Sort by question</md-tooltip>
            </a>
         </div>
         <div class="col-sm-4">
            <form name  = "searchForm" novalidate="">
               <div class="input-group input-group-sm pull-right serch_div">
                  <input name="searchInput" ng-model = "searchFor" type="text" name="table_search" class="form-control pull-right" placeholder="Search" required="">
                  <div class="input-group-btn">
                     <button type="submit" class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
                  </div>
               </div>
            </form>
         </div>
      </div>

      <div class="col-xs-12">

         <div class="comment-text faq-question bg-white" 
         ng-repeat="data in result = (faqList.faq | orderBy: sortByOrder | filter: searchFor)" >
            <div class="row">
               <div class="text-right faqaction col-md-2 pull-right">
                  <a ng-click = "to('/admin/faq/', data._id)">
                     <i class="material-icons edit">
                        mode_edit
                        <md-tooltip md-direction="bottom">Click to edit</md-tooltip>
                     </i>
                  </a>
                  <a ng-click = "to('/admin/view-faq/', data._id)">
                     <i class="material-icons view">
                        remove_red_eye
                        <md-tooltip md-direction="bottom">Click to view</md-tooltip>
                     </i>
                  </a>
                  <a ng-click = "moveToTrash(data._id, $index, $event);">
                     <i class="material-icons color-red">
                        delete
                        <md-tooltip md-direction="bottom">Click to delete</md-tooltip>
                     </i>
                  </a>
                  <i ng-if="data.status==1" class="material-icons color-blue cursor-default">
                     done_all
                     <md-tooltip md-direction="bottom">Active</md-tooltip>
                  </i>
                  <i ng-if="data.status==0" class="material-icons info cursor-default">
                     info
                     <md-tooltip md-direction="bottom">Inactive</md-tooltip>
                  </i>
               </div>
               <div class="col-md-10 faqtxt" >
                  <span>{{$index+1}}. </span> {{ data.question}}
               </div>
            </div>
         </div>

         <div class="col-md-10 faqtxt" ng-if = "searchFor.length>0 && result.length==0" >
            <p class="text-center no-faq-match"> Your search - <b>{{searchFor}}</b> - did not match any record.
            </p>
         </div>

      </div>

   </div>
   <div ng-if = "faqList.faq.length ==0 || !faqList.success" ng-include="'backend/includes/views/no-result.html'">         
   </div>
</section>