<div class="content-wrapper" style="height: 700px;" ng-init = "adminProfileInfo();">
   <section class="content-header">
      <h1>
         Change Password
      </h1>
   </section>
   <section class="content">
      <div class="row">
         <div class="col-md-6">
            <div class=" ">
               <form name="adminProfileForm" ng-submit="adminProfileForm.$valid && changePassword(p)" novalidate="" style="padding-left: 60px;width: 84%;">
                  <md-input-container class="md-icon-float md-block">
                     <label>New Password</label>
                     <input name="np" ng-model="p.password" required/>
                     <div ng-messages="adminProfileForm.np.$error" ng-show='adminProfileForm.np.$dirty || adminProfileForm.np.$invalid'>
                        <div ng-message="required">This is required.</div>
                     </div>
                  </md-input-container>
                  <md-input-container class="md-icon-float md-block">
                     <label>Confirm Password</label>
                     <input name="cp" ng-model="p.cpassword" required/>
                     <div ng-messages="adminProfileForm.cp.$error" ng-show='adminProfileForm.cp.$dirty || adminProfileForm.cp.$invalid'>
                        <div ng-message="required">This is required.</div>
                     </div>
                  </md-input-container>
                  <div class="row" style="margin-left: 3px; ">
                     <div class="col-xs-4 pull-right" style="margin-bottom: 30px;">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>
</div>