   <section class="content-header">
      <h1>
         <!-- Update Profile Info -->
      </h1>
   </section>
   <section class="content">
      <div class="row">
         <div class="box-primary">
            <div class="box-body box-profile">
               <div class="profile_details box-shadow">   
                  <md-button ng-click = "editProfilePage()" class="md-fab  md-default md-mini pull-right edit_profile_btn gray" aria-label="Eat cake">
                     <md-icon>mode_edit</md-icon>
                  </md-button>         
                  <img class="profile-user-img img-responsive img-circle martop40" src="/assets/img/admin.png" alt="User profile picture">               
               <h3 class="profile-username text-center">{{user.firstname}} {{user.lastname}}</h3>
               <ul class="list-unstyled viewlist_custom profilelist_custom"" >
                 
                  <li>
                     <b>Email: </b> <p>{{user.email}}</p>
                  </li>                  
                  <li>
                     <b>User Name: </b> <p>{{user.user_name}}</p>
                  </li>
                  <li>
                     <b>Address: </b> <p>{{user.address}}</p>
                  </li>
                  <li >
                     <b>Gender: </b> <p>{{user.gender}}</p>
                  </li>
                  <li >
                     <b>Role: </b> <p>Super Admin</p>
                  </li>
               </ul>
               <!-- <a  ng-click = "editProfilePage();" class="btn btn-primary btn-block"><b>Edit</b></a>  -->
               </div>       
            </div>
         </div>
      </div>
</section>