<div class="login_main">
   <div class="login_main_inner">
      <div class="login-box logibshadow" style="margin:auto;">
         <div class="login-box-body">
            <p class="login-box-msg text-center">Login to start your session. </p>
            <form name="loginForm" ng-submit="loginForm.$valid && adminLogin()" novalidate="">        
               <md-input-container class="md-icon-float md-block">
                  <label>Email</label>
                  <input name="username" ng-model="user.email" required/>
                  <div ng-messages="loginForm.username.$error" ng-show='loginForm.username.$dirty || loginForm.username.$invalid'>
                     <div ng-message="required">This is required.</div>
                  </div>
               </md-input-container>
               <md-input-container class="md-icon-float md-block">
                  <label>Password</label>
                  <input name="pwd1" type="password" ng-model="user.pwd" required/>
                  <div ng-messages="loginForm.pwd1.$error" ng-show='loginForm.pwd1.$dirty || loginForm.pwd1.$invalid' '>
                     <div ng-message="required">This is required.</div>
                  </div>
               </md-input-container>
                  <div class="row margin-bot-10">
                  <div class="col-sm-6">
                     <div class="icheck">
                        <label><input type="checkbox"> Remember Me</label>
                     </div>
                  </div>   
                     <div class="col-sm-6 pull-right forgot_admin"><a class="">I forgot my password</a></div>
                  </div>                             
               <div class="row">
                  <div class="col-xs-12">
                     <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                  </div>
               </div>
            </form>            
         </div>
      </div>
   </div>
</div>

