.pointer {
	cursor: pointer!important;
}

.select-left-option li a {
	cursor: pointer!important;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

.startdateBx:first-child,.nobot {
    border-bottom: none;
}

.mrgntop20{
	margin-top: 20px;
}