<aside class="main-sidebar">
   <section class="sidebar">
      <ul class="sidebar-menu">
         <li class="treeview"><a href="#/admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
         </li>
         <li class="treeview"><a href="#/admin/posts"><i class="fa fa-rss"></i> <span>Blogs</span></a>
         </li>         
         <li class="treeview"><a href="#/admin/pages"><i class="fa fa-file-text"></i> <span>Pages</span></a>        
          <li class="treeview"><a href="#/admin/faq"><i class="fa fa-question-circle"></i> <span>Faq</span></a>
         </li>
         <li>
            <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
            </span>
            </a>
         </li>
         <li class="treeview active">
            <a href="" >
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
               <li ><a  href="#/admin/profile"><i class="fa fa-circle-o"></i> ChartJS</a></li>
               <li class="active"><a href="#/admin/profile"><i class="fa fa-circle-o"></i> Morris</a></li>
               <li><a href="#/admin/profile"><i class="fa fa-circle-o"></i> Flot</a></li>
               <li><a href="#/admin/profile"><i class="fa fa-circle-o"></i> Inline charts</a></li>
            </ul>
         </li>
         <li>
            <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
            <small class="label pull-right bg-yellow">12</small>
            <small class="label pull-right bg-green">16</small>
            <small class="label pull-right bg-red">5</small>
            </span>
            </a>
         </li>
         <li class="treeview">
            <a href="">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
               <li><a href=""><i class="fa fa-circle-o"></i> Level One</a></li>
               <li>
                  <a href=""><i class="fa fa-circle-o"></i> Level One
                  <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                  </span>
                  </a>
                  <ul class="treeview-menu">
                     <li><a href=""><i class="fa fa-circle-o"></i> Level Two</a></li>
                     <li>
                        <a href=""><i class="fa fa-circle-o"></i> Level Two
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                        </a>
                        <ul class="treeview-menu">
                           <li><a href=""><i class="fa fa-circle-o"></i> Level Three</a></li>
                           <li><a href=""><i class="fa fa-circle-o"></i> Level Three</a></li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li><a href=""><i class="fa fa-circle-o"></i> Level One</a></li>
            </ul>
         </li>
         <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
      </ul>
   </section>
</aside>