<div class="myprofileBg">
  <div class="settingBg">
    <div class="passwordBx dashservic">
      <div class="addserBtnBx">
      	 <md-button class="md-raised saveBtn signinBtn">ADD SERVICES</md-button>
      </div>
      <div class="sp-serviceBx">
      	<div class="sp-Hdser">Distance willing to travel (in kms) &nbsp; 50 km 
	      	<span>
	      		<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
	      		<i class="fa fa-info-circle" aria-hidden="true"></i>
			</span>
      	</div>
      	<div class="spserviceTble">
      		<div class="spser-viewedit">
               	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
               	<i class="fa fa-eye" aria-hidden="true"></i>
               	<i class="fa fa-times" aria-hidden="true"></i>
      		</div>
      		<table class="table table-striped sp-ser-tble">
                <tr>
                  <th width="27%">Waitressing</th>
                  <th width="15%">Price</th>
                  <th width="58%">Minimum Duration</th>
                </tr>
                <tr>
                  <td>Topless</td>
                  <td>$200/Hr</td>
                  <td>2Hrs</td>
                </tr>
                <tr>
                  <td>Nude</td>
                  <td>$300/Hr</td>
                  <td>3Hrs</td>
                </tr>
            </table>
      	</div>
      	<div class="spserviceTble">
      		<div class="spser-viewedit">
               	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
               	<i class="fa fa-eye" aria-hidden="true"></i>
               	<i class="fa fa-times" aria-hidden="true"></i>
      		</div>
      		<table class="table table-striped sp-ser-tble">
                <tr>
                  <th width="27%">Poker Dealing</th>
                  <th width="15%">Price</th>
                  <th width="58%">Minimum Duration</th>
                </tr>
                <tr>
                  <td>Topless</td>
                  <td>$200/Hr</td>
                  <td>2Hrs</td>
                </tr>
                <tr>
                  <td>Nude</td>
                  <td>$300/Hr</td>
                  <td>3Hrs</td>
                </tr>
            </table>
      	</div>
      	<div class="spserviceTble">
      		<div class="spser-viewedit">
               	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
               	<i class="fa fa-eye" aria-hidden="true"></i>
               	<i class="fa fa-times" aria-hidden="true"></i>
      		</div>
      		<table class="table table-striped sp-ser-tble">
                <tr>
                  <th width="27%">Exotic Dacing</th>
                  <th width="15%">Price</th>
                  <th width="58%">Description</th>
                </tr>
                <tr>
                  <td>Topless</td>
                  <td>$200/Hr</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla<br>
                  	quam velit, vulputate eu pharetra nec.</td>
                </tr>
                <tr>
                  <td>Nude</td>
                  <td>$300/Hr</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla<br>
                  	quam velit, vulputate.</td>
                </tr>
            </table>
      	</div>
      </div>
    </div>
  </div>
</div>     

