   <section class="content-header">
      <h1>Service Info</h1>
   </section>
   <section class="content paddingfotter">
      <div class="row">
         <div class="col-md-12 martop10 box-primary">
            <div class="box-body box-profile">              
               <ul class="list-unstyled viewlist_custom">
<!--                   <li>
                      <img src="{{category.image}}" class="img-responsive" alt="Cinque Terre" width="50%" height="236"> 
                  </li> -->  
                  <li>
                     <b>Title: </b> <p>{{service.title}}</p>
                  </li>                  
                  <li>
                     <b>Description: </b><p> {{service.description}}</p>
                  </li>                  
                  <li>
                     <b>Order: </b> <p>{{service.order}}</p>
                  </li>                                   
                  <li>
                     <b>Created: </b> <p>{{service.created_at | date :  "dd.MM.y"}}</p>
                  </li>                  
                  <li>
                     <b>Status: </b> 
                     <p><span ng-if = "service.status=='1'" >Active</span></p>
                     <p><span ng-if = "service.status=='0'" >In Active</span></p>
                  </li>
               </ul>
            </div>
         </div>
      </div>
</div>
</section>