   <section class="content-header">
      <h1>Category Info</h1>
   </section>
   <section class="content paddingfotter">
      <div class="row">
         <div class="col-md-12 martop10 box-primary">
            <div class="box-body box-profile">              
               <ul class="list-unstyled viewlist_custom">
                  <li class="frame">
                      <img src="{{category.image}}" class="img-responsive" alt="Cinque Terre" width="50%" height="236"> 
                      
                  </li>  
                  <li>
                     <b>Title: </b> <p>{{category.title}}</p>
                  </li>                  
                  <li>
                     <b>Description: </b><p> {{category.description}}</p>
                  </li>                  
                  <li>
                     <b>Order: </b> <p>{{category.order}}</p>
                  </li>                    
<!--                   <li ng-if = "category.sub_category.length>0">
                     <b>Sub Category: </b> 
                        <div class="box-body no-padding table-responsive margin-left-145">
                           <table class="table  table-custom">
                              <tbody>
                                 <tr>
                                    <th width="50%">Title
                                    </th>
                                    <th width="50%">Description
                                    </th>                        
                                 </tr>
                                 <tr ng-repeat="l in category.sub_category">
                                    <td>
                                       {{l.title }}
                                    </td>
                                    <td>
                                    {{l.description}}
                                    </td>
                                 </tr>                   
                              </tbody>
                           </table>
                        </div>                     
                  </li>   -->                
                  <li>
                     <b>Created: </b> <p>{{category.created_at | date :  "dd.MM.y"}}</p>
                  </li>                  
                  <li>
                     <b>Status: </b> 
                     <p><span ng-if = "category.status=='1'" >Active</span></p>
                     <p><span ng-if = "category.status=='0'" >In Active</span></p>
                  </li>
               </ul>
            </div>
         </div>
      </div>
</div>
</section>