.page-login .center, .page-error .center{
    display: block;
    margin-top: 10%;
}
.admin-name-padding{
	padding: 15px 22px !important;
}
a{
	cursor: pointer;
}
.m-r-5{ margin-right: 5px; }
.padding20{
	padding: 20px;
}
.center {
	text-align: center;
}

.width-60-p{
  width: 60%
}
.table > tbody > tr:hover {
  /*background-color: #F2F2F2;*/
  cursor: pointer;
}
.view{
  color: #7F5D38;
}
.thead-inverse{
	background-color: #BEC1C1;
}
.f25{
	font-size: 25px;
}
table > thead.thead-inverse > tr > th{
	/*color: #fff;*/
	font-weight: normal;
}
table tr > td {
    cursor: pointer;
}
.delete{
	color: #DF0803;
}
.edit{
	color: #707070;
}
.cursor-default{
	cursor: default;
}

.lead .md-arrow-drop-down {
	font-size: 25px;
}
.lead .md-arrow-drop-up {
	font-size: 25px;
}
.asc-desc {
   color: #373A3C !important;
}

.hide {
	display: none;
}
.pointer{
	cursor: pointer;
}

.dialog-header {
	margin: -13px -13px 10px -13px;
	background: #d5d5d5;
	padding: 15px;
}
.top-40{
	margin-top: 40px;
}
.back-white{
	background-color: #ffffff !important;
}
.alert.top-right {
	z-index: 11000;
}

.m-b-10{
	margin-bottom: 10px;
}
.m-t-10{
  margin-top: 10px;
}
.m-t-20{
	margin-top: 20px;
}

.pad-20 {
  padding: 20px;
}
.pad-0{
  padding: 0!important
}
.m-b-0{
  margin-bottom: 0
}

.top-blue{
  background-color: #2196F3 !important
}
.white-font{
  color: #ffffff !important
}
.capitalize{
  text-transform: capitalize;
}
.m-l-20{
  margin-left: 20px;
}
.add-post-code{
  width: 100%;
  max-width: 400px;
  min-width: 400px;
  padding: 20px 0;
}
 .p-t-20{
  padding-top: 20px;
 }
.width100{width: 100%;}
.breaktable tr td, .breaktable tr th{word-break: break-all;}
.wid100full{width: 100%;}
.srchbtn{ margin: 0; padding: 0 20px 0 16px;}
.tableprolist{border: 0;}
.tableprolist tr th{background: #474747; color: #fff; font-size: 14px}
.tableprolist tr td{position: relative;}
.tableprolist i{margin: 0 3px;}
.tableprolist .sort-indicator{position: relative; color: #fff;}
.tableprolist .sort-indicator:hover{color: #fff;}
.tableprolist .sort-indicator:before, .tableprolist .sort-indicator:after {content: "";border-width: 0 4px 4px;border-style: solid;border-color: #fff transparent;visibility: visible;right:-12px;top: 50%; position: absolute; opacity: .6; margin-top: -4px;}
.tableprolist .sort-indicator:after {border-bottom: none;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #fff;margin-top: 3px;}


/**********listproperty**********/
.whown{background: #eff2f5 none repeat scroll 0 0; padding: 10px 15px;}
.land_owntxt { font-size: 15px; color: #565656;}
.displayinline {display: inline-block;vertical-align: top;}
.positiorel {position: relative;}
.mar0 { margin: 0px!important; }
.mar-right20 {margin-right: 20px!important; }
.mar-right10 {margin-right: 10px!important; }
.marbot15{margin-bottom: 15px;}
textarea.traderstopserchselect {padding: 10px;resize: none; height: auto; width: 100%; display: block;}
.height80 {height: 80px;}
.form_list{margin: 0; padding: 0; list-style: none;}
.steponelist{margin-bottom: 20px;}
.lookupdiv{position: relative;}
.lookupdiv input{padding-right: 100PX;}
.lookupdiv .lookupdivbtn{position: absolute; right: 0; top:0;}
.cal_icon_asmin {position: absolute;right: 0;top: 11px;}
.font20{font-size: 16px;}
.labeltext{float: left;}
.switchadmin{float: right;}
.stepadmintitle{font-size: 18px; color: #000; font-weight: 600; margin-bottom: 20px;}
.textupper{text-transform: uppercase;}
.termadmin{border-bottom:1px solid #ddd; margin-bottom: 20px; }
.termadmin p.termadminstrong{ font-size: 15px; color: #000;}

.padding0{padding: 0;}
.dragtxt_div{min-height: 250px; float: none; margin: 25px auto; background-color: #EBF5F7; border: 2px dashed #80B0EE; }
.dragtxt{line-height: 250px; color: #000; font-size: 18px; text-align: center;}
.my_update_form-full {width: 100%;}
.traderstopserchselect {
  -moz-appearance: none;border-radius: 3px;color: #777;display: block;font-size: 14px;height: 40px;
  padding: 0 15px 0 0px; width: 100%; padding-right: 0!important; margin-right: 0!important;}
.serchinput .md-button.md-icon-button {border-radius: 50%;height: 33px;line-height: 36px;margin: 0;min-height: 26px !important;
  min-width: 0; padding: 0; position: absolute; right: 0; width: 24px; z-index: 80;}
	md-select-header { position: relative;}
md-select-header i{
		position: absolute;
    left: 31px;
    top: 7px;
    z-index: 1;
    color: gray;
    font-size: 18px !important;
	}
	.selectFilter{    width: 93%;
    margin: auto 2.5%;
    height: 29px;
		padding: 0 30px 0 32px;
    border: 1px gainsboro solid;
}
.univercal .md-datepicker-input {max-width: 100%;min-width: 100%; width: 100%;}
.serchinput .md-icon-button + .md-datepicker-input-container, .univercal .md-icon-button + .md-datepicker-input-container {

  margin-left: 0;
  width: 100%;
}
.addbasket_list{padding: 0; margin: 0;}
.invalid-form{
	color: #F44336 !important;
}
.dropzone .dz-preview {
  border: 1px solid #ddd;
  border-radius: 20px;
  display: inline-block;
  margin: 16px;
  min-height: 100px;
  position: relative;
  vertical-align: top;
}
.dz-remove {
  background: #01a1df none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff!important;
  display: inline-block;
  height: 22px;
  line-height: 20px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 22px;
  z-index: 999;
}
.frachissdetals label.hd{ margin-right: 15px; color: #000; font-size: 16px; }
.frachissdetals label{font-size:16px; color:#666;}
.requst-detail-border{
  border-bottom: 1px solid #cacaca;
}
.postcodelabel{padding: 7px; position: relative; margin:3px 20px 10px 0; display: inline-block;    font-size: 13px;}
.postcodelabel .closebtn {
  background-color: #777777;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  height: 16px;
  line-height: 14px;
  position: absolute;
  right: -7px;
  text-align: center;
  top: -7px;
  width: 15px;
}
md-toolbar.dialog-color{
  background-color: #106AC3;
}
.fiveshow{width: 20%; padding-right: 10px; text-align: left; float: left; margin-bottom: 10px;}
.closebtn_tag {
    background-color: #b74708;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    height: 12px;
    line-height: 11px;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -7px;
    width: 13px;
}

.closebtn_tag:before {
    content: "×";
}


.added-postcode{
  background-color: #5388A7; 
  color: #ffffff;
}
.allocate{
  background-color: #209BD7; 
  color: #ffffff;
}
.allocated{
  background-color: #5388A7; 
  color: #ffffff;
}
.remove-allocated{
  background-color: #DF0803; 
  color: #ffffff;  
}

.requested-postcode-back{
  background-color: #FFFFFF;
}

.ta-editor.form-control, .ta-scroll-window.form-control  {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.form-control > .ta-bind {
    height: auto;
    min-height: 200px;
    padding: 6px 12px;
}
.text-capital{text-transform: capitalize;}
.boxshadownone{box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; -moz-box-shadow: none;}
.themebg{background-color: rgb(16, 108, 200)!important;}
.top50{top:50px;} 
.card{box-shadow: 3px -1px 3px 0 rgba(0,0,0,.07), -10px 2px 15px 1px rgba(0,0,0,.06); -webkit-box-shadow: 3px -1px 3px 0 rgba(0,0,0,.07), -10px 2px 15px 1px rgba(0,0,0,.06);}
.pagination_theme {}
.admintheme textarea:focus{box-shadow: none!important;}
.admintheme md-input-container:not(.md-input-valid).md-input-focused .md-input{border-color: rgb(16, 108, 200)!important;}
.pagination_theme > .active > a, .pagination_theme > .active > a:focus, .pagination_theme > .active > a:hover, .pagination_theme > .active > span, .pagination_theme > .active > span:focus, .pagination_theme > .active > span:hover{background-color: rgb(16, 108, 200)!important; border: 1px solid #106CC8;}
@media only screen and (max-width: 750px) {
.add-post-code{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
}
@media only screen and (max-width: 479px) {
.boxshadownone .card .card-header{padding: 20px 10px;}
}
.norecord td {
  border-width: 0!important;
  visibility: hidden;
  padding: 0;
  height: 1px;
}
