<div class="myprofileBg">
	<div class="settingBg">
		<div class="passwordBx varificationBx">
			<div class="messageList reviewList">
				<ul>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <img src="assets/img/frontend/rating-star-orange.png" alt="">  <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
						<span>
							<small>Communication <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Service Quality <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Timeliness <img src="assets/img/frontend/rating-star-grey.png" alt=""></small>
						</span>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <img src="assets/img/frontend/rating-star-orange.png" alt="">  <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
						<span>
							<small>Communication <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Service Quality <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Timeliness <img src="assets/img/frontend/rating-star-grey.png" alt=""></small>
						</span>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <img src="assets/img/frontend/rating-star-orange.png" alt="">  <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
						<span>
							<small>Communication <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Service Quality <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Timeliness <img src="assets/img/frontend/rating-star-grey.png" alt=""></small>
						</span>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <img src="assets/img/frontend/rating-star-orange.png" alt="">  <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
						<span>
							<small>Communication <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Service Quality <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Timeliness <img src="assets/img/frontend/rating-star-grey.png" alt=""></small>
						</span>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <img src="assets/img/frontend/rating-star-orange.png" alt="">  <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
						<span>
							<small>Communication <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Service Quality <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Timeliness <img src="assets/img/frontend/rating-star-grey.png" alt=""></small>
						</span>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <img src="assets/img/frontend/rating-star-orange.png" alt="">  <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
						<span>
							<small>Communication <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Service Quality <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Timeliness <img src="assets/img/frontend/rating-star-grey.png" alt=""></small>
						</span>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <img src="assets/img/frontend/rating-star-orange.png" alt="">  <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
						<span>
							<small>Communication <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Service Quality <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Timeliness <img src="assets/img/frontend/rating-star-grey.png" alt=""></small>
						</span>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <img src="assets/img/frontend/rating-star-orange.png" alt="">  <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
						<span>
							<small>Communication <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Service Quality <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Timeliness <img src="assets/img/frontend/rating-star-grey.png" alt=""></small>
						</span>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <img src="assets/img/frontend/rating-star-orange.png" alt="">  <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
						<span>
							<small>Communication <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Service Quality <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Timeliness <img src="assets/img/frontend/rating-star-grey.png" alt=""></small>
						</span>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <img src="assets/img/frontend/rating-star-orange.png" alt="">  <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
						<span>
							<small>Communication <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Service Quality <img src="assets/img/frontend/rating-star-grey.png" alt=""></small> <i> | </i>
							<small>Timeliness <img src="assets/img/frontend/rating-star-grey.png" alt=""></small>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
