<div class="myprofileBg">
	<div class="settingBg">
		<div class="passwordBx varificationBx">
		<md-content>
		    <md-tabs md-dynamic-height md-border-bottom>
		      <md-tab label="AWAITING CONFIRMATION">
		        <md-content class="md-padding">
		          <table class="table table-striped bookingTble">
		          	<tr>
		          		<th width="5%"></th>
		          		<th width="19%">Profile</th>
		          		<th width="13%">Start Date/Time</th>
		          		<th width="13%">End Date/Time</th>
		          		<th width="30%">Description</th>
		          		<th width="10%">Amount</th>
		          		<th width="15%">Status</th>
		          	</th>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb1" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb2" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb3" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb4" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb5" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb6" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb7" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb8" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb9" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb10" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb11" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
				  </table>
				  <md-button class="md-raised saveBtn signinBtn">book</md-button>
		        </md-content>
		      </md-tab>
		      <md-tab label="DRAFT">
		        <md-content class="md-padding">
		          <table class="table table-striped bookingTble">
		          	<tr>
		          		<th width="5%"></th>
		          		<th width="19%">Profile</th>
		          		<th width="13%">Start Date/Time</th>
		          		<th width="13%">End Date/Time</th>
		          		<th width="30%">Description</th>
		          		<th width="10%">Amount</th>
		          		<th width="15%">Status</th>
		          	</th>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb1" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb2" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb3" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb4" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb5" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb6" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb7" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb8" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb9" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb10" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb11" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
				  </table>
				  <md-button class="md-raised saveBtn signinBtn">book</md-button>
		        </md-content>
		      </md-tab>
		      <md-tab label="APPROVED">
		        <md-content class="md-padding">
		          <table class="table table-striped bookingTble">
		          	<tr>
		          		<th width="5%"></th>
		          		<th width="19%">Profile</th>
		          		<th width="13%">Start Date/Time</th>
		          		<th width="13%">End Date/Time</th>
		          		<th width="30%">Description</th>
		          		<th width="10%">Amount</th>
		          		<th width="15%">Status</th>
		          	</th>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb1" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb2" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb3" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb4" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb5" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb6" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb7" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb8" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb9" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb10" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
		          	<tr>
		          		<td><md-checkbox ng-model="data.cb11" aria-label=""></md-checkbox></td>
		          		<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
		          		<td>20/1/2016 11pm</td>
		          		<td>21/2016 5pm</td>
		          		<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
		          		<td><strong>$500</strong></td>
		          		<td><a href="">Awating Confirmation</a></td>
		          	</tr>
				  </table>
				  <md-button class="md-raised saveBtn signinBtn">book</md-button>
		        </md-content>
		      </md-tab>
		      
		    </md-tabs>
		  </md-content>
		 </div>
	</div>
</div>
