<div class="myprofileBg">
	<div class="settingBg">
		<div class="passwordBx varificationBx">
			<div class="messageList">
				<ul>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
					<li>
						<i><img src="assets/img/frontend/message-list-img.png" alt=""></i>
						<strong>Tuhan Jordge <small>Jan 13th 2017, 10:30 PM</small></strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.
						</p>
					</li>
				</ul>
			</div>
			<div class="writereplyBx">
				<strong>Write a Reply</strong>
				<md-input-container class="md-block">
		          <textarea ng-model="user.biography" class="dashTxtarea" md-select-on-focus></textarea>
		        </md-input-container>
		        <md-button class="md-raised saveBtn signinBtn margTop">SEND</md-button>
			</div>
		</div>
	</div>
</div>
