<div class="myprofileBg">
	<div class="settingBg">
		<div class="passwordBx varificationBx">
		<md-content>
		    <md-tabs md-dynamic-height md-border-bottom>
		      <md-tab label="DRIVERS LICENSE">
		        <md-content class="md-padding">
		          <div class="perinfoTxt">Peache will not disclose any personal information and this informatin is only used for verification purposes</div>
                      <div class="changepassBx clearfix">
						<div class="changepass-L">Licence Number:</div>
							<div class="changepass-R">
								<md-input-container class="md-block">
								    <input ng-model="user.licence" class="dashInput" placeholder="Licence Number">
								</md-input-container>
							</div>
						</div>
						<div class="changepassBx clearfix">
						<div class="changepass-L">Country:</div>
							<div class="changepass-R">
								<md-input-container>
						          <label>Country</label>
						          <md-select ng-model="ctrl.gender" class="dashInput profmrgn15">
						            <md-option>Australia</md-option>
						          </md-select>
						        </md-input-container>
							</div>
						</div>
						<div class="changepassBx clearfix">
							<div class="changepass-L profbxBlank">&nbsp;</div>
							<div class="changepass-R">
								<md-button class="md-raised saveBtn signinBtn">Verify</md-button>
							</div>
						</div>
		        </md-content>
		      </md-tab>
		      <md-tab label="PASSPORT">
		        <md-content class="md-padding">
		          <div class="perinfoTxt">Peache will not disclose any personal information and this informatin is only used for verification purposes</div>
                      <div class="changepassBx clearfix">
						<div class="changepass-L">Passport Number:</div>
							<div class="changepass-R">
								<md-input-container class="md-block">
								    <input ng-model="user.passport" class="dashInput" placeholder="Passport Number">
								</md-input-container>
							</div>
						</div>
						<div class="changepassBx clearfix">
						<div class="changepass-L">Country:</div>
							<div class="changepass-R">
								<md-input-container>
						          <label>Country</label>
						          <md-select ng-model="ctrl.gender" class="dashInput profmrgn15 ">
						            <md-option>Australia</md-option>
						          </md-select>
						        </md-input-container>
							</div>
						</div>
						<div class="changepassBx clearfix">
							<div class="changepass-L profbxBlank">&nbsp;</div>
							<div class="changepass-R">
								<md-button class="md-raised saveBtn signinBtn">Verify</md-button>
							</div>
						</div>
		        </md-content>
		      </md-tab>
		      
		    </md-tabs>
		  </md-content>
		 </div>
	</div>
</div>
