<div class="myprofileBg">
	<div class="profileInnBx">
		<div class="myserviceHd">you have selected 3 item</div>
		<div class="bookingSumList">
			<ul>
				<li>
					<div class="booking-Left">
						<div class="bookingImgBx"><img src="assets/img/frontend/booking-img.jpg"></div>
						<div class="BookingHd">Felicity55 <img src="assets/img/frontend/rating-star-orange.png"></div>
						<div class="bookingdatetimeBx">
							<span>
								<small>Start Date/Time</small>
								20/1/2016 11pm
							</span>
							<span>
								<small>End Date/Time</small>
								22/1/2016 7pm
							</span>
							<span>
								<small>Address</small>
								33 Test Street Broadbeach Waters
							</span>
						</div>
					</div>
					<div class="booking-Right">
						<div class="bookingTbleBx">
							<table class="table table-striped booksumm_Tble">
								<tr>
									<td id="bdrNone" width="40%">Waitressing</td>
									<td id="bdrNone" width="22%">Price</td>
									<td id="bdrNone" width="38%">Minimum Duration</td>
								</tr>
								<tr>
									<td class="topless">Topless</td>
									<td class="topless">$100/Hr</td>
									<td class="topless">2 Hrs</td>
								</tr>
								<tr>
									<td class="subtotl">Order Sub Total</td>
									<td class="subtotl">$200</td>
									<td class="subtotl">2Hrs</td>
								</tr>
							</table>
						</div>
					</div>
				</li>
				<li>
					<div class="booking-Left">
						<div class="bookingImgBx"><img src="assets/img/frontend/booking-img.jpg"></div>
						<div class="BookingHd">Felicity55 <img src="assets/img/frontend/rating-star-orange.png"></div>
						<div class="bookingdatetimeBx">
							<span>
								<small>Start Date/Time</small>
								20/1/2016 11pm
							</span>
							<span>
								<small>End Date/Time</small>
								22/1/2016 7pm
							</span>
							<span>
								<small>Address</small>
								33 Test Street Broadbeach Waters
							</span>
						</div>
					</div>
					<div class="booking-Right">
						<div class="bookingTbleBx">
							<table class="table table-striped booksumm_Tble">
								<tr>
									<td id="bdrNone" width="40%">Waitressing</td>
									<td id="bdrNone" width="22%">Price</td>
									<td id="bdrNone" width="38%">Minimum Duration</td>
								</tr>
								<tr>
									<td class="topless">Topless</td>
									<td class="topless">$100/Hr</td>
									<td class="topless">2 Hrs</td>
								</tr>
								<tr>
									<td class="subtotl">Order Sub Total</td>
									<td class="subtotl">$200</td>
									<td class="subtotl">2Hrs</td>
								</tr>
							</table>
						</div>
					</div>
				</li>
				<li>
					<div class="booking-Left">
						<div class="bookingImgBx"><img src="assets/img/frontend/booking-img.jpg"></div>
						<div class="BookingHd">Felicity55 <img src="assets/img/frontend/rating-star-orange.png"></div>
						<div class="bookingdatetimeBx">
							<span>
								<small>Start Date/Time</small>
								20/1/2016 11pm
							</span>
							<span>
								<small>End Date/Time</small>
								22/1/2016 7pm
							</span>
							<span>
								<small>Address</small>
								33 Test Street Broadbeach Waters
							</span>
						</div>
					</div>
					<div class="booking-Right">
						<div class="bookingTbleBx">
							<table class="table table-striped booksumm_Tble">
								<tr>
									<td id="bdrNone" width="40%">Waitressing</td>
									<td id="bdrNone" width="22%">Price</td>
									<td id="bdrNone" width="38%">Minimum Duration</td>
								</tr>
								<tr>
									<td class="topless">Topless</td>
									<td class="topless">$100/Hr</td>
									<td class="topless">2 Hrs</td>
								</tr>
								<tr>
									<td class="subtotl">Order Sub Total</td>
									<td class="subtotl">$200</td>
									<td class="subtotl">2Hrs</td>
								</tr>
							</table>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="procedcheckoutBx clearfix">
			<span>
				<table class="table table-striped proceddTble">
					<tr>
						<td class="procedTbleHd" width="40%">Grand Total</td>
						<td class="procedtbleAmount" width="22%">$600</td>
						<td class="procedtbleAmount" width="38%">6Hrs</td>
					</tr>
				</table>
			</span>
			<i><md-button class="md-raised saveBtn signinBtn">proceed to checkout</md-button></i>
		</div>
	</div>
</div>
