<div class="myprofileBg">
	<div class="settingBg">
		<div class="varificationBx">
			<div class="messageDetBx">
				<div class="msgdetTop">
					<i><img src="assets/img/frontend/message-list-img.png"></i>
					<span><strong>From: </strong>Shun Lorge - Shun43@gmail.com 
						<small>Jan 13th, 10:30 PM  </small>
					</span>
					<small><strong>Subject:</strong> Lorem ipsum dolor sit amet, consectetur adipiscin.</small>
				</div>
			</div>
			<div class="messageDetBx">
				<div class="msgDesc">
					<strong>Hi Alex,</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a, varius sed magna. Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a:ac risus:</p>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
						<li>Quisque dictum lorem id tempus lacinia.</li>
						<li>Aenean placerat metus eget dignissim sodales.</li>
						<li>Vivamus pretium risus vitae nibh maximus bibendum.</li>
						<li>Curabitur maximus neque eget elit fermentum, at sagittis elit gravida.</li>
					</ul>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque </p>
					<span>
						Regards,<br>
						Shun Lorge
					</span>
				</div>
			</div>
			<div class="attachBx">
				<div class="attachHd">
					<i class="fa fa-paperclip" aria-hidden="true"></i>
 					Attachments (2)
 				</div>
				<div class="attachedFileBx">
					<i><img src="assets/img/frontend/docs-icon.png"></i>
					<i><img src="assets/img/frontend/docs-icon.png"></i>
				</div>
				<div class="forwordBx">click here to <a>Reply</a> or <a>Forward</a></div>
			</div>
		</div>
	</div>
</div>

