<div class="myprofileBg">
	<div class="settingBg">
		<div class="passwordBx varificationBx">
			<div class="paidBx clearfix">
				<strong>Paid: $6450</strong>
				<span>
					<md-input-container>
			          <label>Sort by</label>
			          <md-select ng-model="user.gender" class="registerInp">
			            <md-option>A-Z</md-option>
			            <md-option>Z-A</md-option>
			          </md-select>
			        </md-input-container>
				</span>
			</div>
			<md-content class="md-padding">
				<table class="table table-striped bookingTble">
			        <tr>
			        	<th width="18%">Profile</th>
			          	<th width="14%">Start Date/Time</th>
			          	<th width="14%">End Date/Time</th>
			          	<th width="30%">Description</th>
			          	<th width="10%">Amount</th>
			          	<th width="14%">Status</th>
			        </th>
			        <tr>
			        	<td><i><img src="assets/img/frontend/booking-tble-img.png"></i>Destiny</td>
			        	<td>20/1/2016 11pm</td>
			        	<td>21/2016 5pm</td>
			        	<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
			        	<td><strong>$500</strong></td>
			        	<td>Completed
			        		<span class="tbleleave-BtnBx">
			        			<md-button class="md-raised saveBtn signinBtn tbleview2">Leave Review</md-button>
			        		</span>
			        	</td>
			        </tr>
			        <tr>
			        	<td><i><img src="assets/img/frontend/booking-tble-img2.png"></i>Carley</td>
			        	<td>20/1/2016 11pm</td>
			        	<td>21/2016 5pm</td>
			        	<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
			        	<td><strong>$500</strong></td>
			        	<td>Completed
			        		<span class="tbleleave-BtnBx">
			        			<md-button ng-click = "leaveReviewPopup($event)" class="md-raised saveBtn signinBtn tbleview">Leave Review</md-button>
			        		</span>
			        	</td>
			        </tr>
			        <tr>
			        	<td><i><img src="assets/img/frontend/booking-tble-img3.png"></i>Noesys</td>
			        	<td>20/1/2016 11pm</td>
			        	<td>21/2016 5pm</td>
			        	<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
			        	<td><strong>$500</strong></td>
			        	<td>Completed</td>
			        </tr>
			        <tr>
			        	<td><i><img src="assets/img/frontend/booking-tble-img4.png"></i>Flaratiny</td>
			        	<td>20/1/2016 11pm</td>
			        	<td>21/2016 5pm</td>
			        	<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam velit, ulputate eu pharetra nec, mattis ac neque. </td>
			        	<td><strong>$500</strong></td>
			        	<td>Completed</td>
			        </tr>
				</table>
			</md-content>
		 </div>
	</div>
</div>
