<div class="myprofileBg">
	<div class="settingBg">
		<div class="passwordBx">
			<div class="PassHd">Start Referring Now and earn $800 For You and A Friend!</div>
			<div class="changepassBx clearfix">
				<div class="changepass-L">Emai Address</div>
				<div class="changepass-R">
					<md-input-container class="md-block">
					    <input ng-model="user.password" class="dashInput" placeholder="Enter your friend email">
					</md-input-container>
				</div>
			</div>
			<div class="changepassBx clearfix">
				<div class="changepass-L profbxBlank">&nbsp;</div>
				<div class="changepass-R">
					<md-button class="md-raised saveBtn signinBtn">Send</md-button>
				</div>
			</div>
		</div>
		
	</div>
</div>
