<div class="myprofileBg">
	<div class="profileInnBx">
		<div class="profileDetBx">
			<form name="profileForm" ng-submit = " profileForm.$valid && updateProfile()" novalidate="">
			<div class="profInnBx profMrgn">
				<div class="profBx-L">Image </div>
				<div class="profImgBx"><img src="assets/img/frontend/camra-icon.png">
					<input type="file" name="file" class="browseImg">
				</div>
			</div>
			<div class="profInnBx">
				<div class="profBx-L">Display Name </div>
				<md-input-container class="md-block">
			        <input required="" ng-model="user.display_name" class="dashInput" aria-label = "displayName" >
			        <!-- <span class="errorImg"><img src="assets/img/frontend/error-icon.png"></span> -->
			    </md-input-container>

			</div>
			<div class="profInnBx">
				<div class="profBx-L">First Name</div>
				<div class="clearfix">
					<div class="profname-L margBot10Mob">
						<md-input-container class="md-block">
					        <input required="" ng-model="user.first_name" class="dashInput" aria-label = "firstName">
					        <!-- <span class="errorImg"><img src="assets/img/frontend/error-icon.png"></span> -->
					    </md-input-container>
					</div>
				    <div class="profname-R">
				    	<md-input-container class="md-block">
					        <input required="" ng-model="user.last_name" class="dashInput" aria-label = "lastName">
					        
					    </md-input-container>
				    </div>
			    </div>
			</div>
			<div class="profInnBx profmrgn15web">
				<div class="profBx-L">Gender</div>
				<div class="clearfix">
					<div class="profname-L">
						<md-input-container>
				          <!-- <label>Gender</label> -->
				          <md-select required ng-model="user.gender" class="dashInput" aria-label = "Gender">
				            <md-option value = "Male" >Male</md-option>
				            <md-option value = "Female" >Female</md-option>
				          </md-select>
				        </md-input-container>
					</div>
			    </div>
			</div>
			<div class="profInnBx">
				<div class="profBx-L">Date Of Birth</div>

				<div class="clearfix">
					<div class="profname-L">
					    <md-datepicker   ng-model="user.dob" class="dashInput profileCalc" md-placeholder="Enter date" md-max-date="dobMaxDate" required ></md-datepicker>
					</div>
			    </div>
			</div>
			<div class="profInnBx">
				<div class="profBx-L">Email Address</div>
				<div class="clearfix">
					<div class="profname-L">
						<md-input-container class="md-block">
					        <input required ng-model="user.email" class="dashInput" aria-label = "Email" >
					    </md-input-container>
					</div>
			    </div>
			</div>
			<div class="profInnBx">
				<div class="profBx-L">Mobile Number</div>
				<div class="clearfix">
					<div class="profname-L">
						<md-input-container class="md-block" flex-gt-sm>
					        <input required ng-model="user.mobile_number" class="dashInput" aria-label = "Number">
					    </md-input-container>
					</div>
			    </div>
			</div>
			<div class="profInnBx">
				<div class="profBx-L">Your Location</div>
				<div class="clearfix margBot10Mob">
				<md-input-container class="md-block" flex-gt-sm>
				    <input required ng-model="user.address" class="dashInput" aria-label = "Loc" >
				</md-input-container>
			</div>
			</div>
			<div class="profInnBx">
				<div class="profBx-L profbxBlank">&nbsp;</div>
				<div class="clearfix">
				<div class="profname-L margBot10">
				  	<md-input-container class="md-block">
				  		<!-- <label>Maiden</label> -->
				        <md-select required ng-model="user.country" class="dashInput" aria-label = "Country">
				          <md-option value = "Australia">Australia</md-option>
				        </md-select>
				    </md-input-container>
				</div>				
				<div class="profname-R margBot10">
					<md-input-container class="md-block">
						<!-- <label>Unicef</label> -->
				        <md-select required ng-model="user.state" class="dashInput" aria-label = "State">
				           <md-option value = "State">State</md-option>
				        </md-select>
				    </md-input-container>				

				</div>

			</div>
			</div>
			<div class="profInnBx">
				<div class="profBx-L profbxBlank">&nbsp;</div>
				<div class="clearfix">
				<div class="profname-L margBot10">
					<md-input-container class="md-block">

				        <md-select required ng-model="user.subrub" class="dashInput" aria-label = "Suburb">
				            <md-option value = "Suburb">Suburb</md-option>
				        </md-select>
				    </md-input-container>
				</div>
				<div class="profname-R">

					<md-input-container class="md-block" flex-gt-sm>
				    	<input ng-model="user.zip_code" class="dashInput" aria-label = "Zip">
					</md-input-container>				    				
				</div>
			</div>
			</div>
			<div class="profInnBx">
				<div class="profBx-L">About Me</div>
				<md-input-container class="md-block">
		          <textarea ng-model="user.biography" class="dashTxtarea" md-select-on-focus aria-label = "Aboutme"></textarea>
		        </md-input-container>
			</div>
			<div class="profInnBx">
				<div class="profBx-L"></div>
				<md-button type = "submit" class="md-raised saveBtn signinBtn">Save</md-button>
				<!-- <md-button class="md-raised canclBtn">Cancel</md-button> -->
			</div>
		</form>
		</div>
	</div>
</div>
