<section class="content-header">
   <h1 class="page_title"> Blog  <span><button class="btn btn-primary" type="button" ng-click = "addPost('/admin/edit-post/add-new')" >Add New</button></span></h1>
</section>

<!-- <button ng-click = "first()">first</button>
<button ng-click = "second()">second</button>
<button ng-click = "third()">third</button> -->

<section class="content">
   <div class="row" ng-if = "postResponse.table">
      <div class="col-xs-12">
         <div class="box">
            <div class="box-header">               
               <form name  = "searchForm" ng-submit = "searchForm.$valid && search(searchFor)" novalidate="">
               <div class="input-group input-group-sm pull-right serch_div">
                  <input name="searchInput" ng-model = "searchFor" type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-change = "changeSearch(searchFor)" ng-model-options="{ debounce: 1000 }" required="">
                  <div class="input-group-btn">
                     <button type="submit" class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
                  </div>  
                  </div>                
               </form>               
            </div>
            <div class="box-body no-padding table-responsive">
               <table class="table table-hover table-custom">
                  <tbody>
                     <tr>
                        <th width="40%">Title 
                           <a class="sort" >
                           <i ng-click = "sort(searchFor, 'title', $event)" ng-class = "titleIcon"  aria-hidden="true">
                           </i>
                           <md-tooltip md-direction="top">Sort by title</md-tooltip>
                           </a>
                        </th>                                                                        
                        <th width="10%">Author 
                           <a class="sort">
                           <i ng-click = "sort(searchFor, 'author',  $event)" ng-class = "authorIcon" aria-hidden="true">
                           </i>
                           <md-tooltip md-direction="top">Sort by author</md-tooltip>
                           </a>
                        </th>
                        <th  width="10%">Order  
                           <a class="sort" >
                           <i ng-click = "sort(searchFor,
                           'order',  $event)" ng-class = "orderIcon" aria-hidden="true">
                           </i>
                           <md-tooltip md-direction="top">Sort by Order</md-tooltip>
                           </a>
                        </th>
                        <th  width="10%">Type 
                           <a class="sort"  >
                           <i ng-click = "sort(searchFor, 'type',  $event)" ng-class = "typeIcon" aria-hidden="true">
                           </i>
                           <md-tooltip md-direction="top">Sort by type</md-tooltip>
                           </a>   
                        </th>
                        <th  width="10%">Status 
                           <a class="sort"  >
                           <i ng-click = "sort(searchFor, 
                           'status',  $event)" ng-class = "statusIcon" aria-hidden="true">
                           </i>
                           <md-tooltip md-direction="top">Click to sort record</md-tooltip>
                           </a>
                        </th>
                        <th  width="20%">Action</th>
                     </tr>
                     <tr ng-repeat="l in postResponse.data">
                        <td>
                           {{l.title | limitTo: 10000}} 
                           <span ng-if="l.title.length>10000">
                           <i class="material-icons">more_horiz</i>
                           <md-tooltip md-direction = "bottom">Click on view to read more...</md-tooltip>
                           </span>
                        </td>
                        <td>{{l.author}} </td>
                        <td>{{l.order}} </td>
                        <td>{{l.postType}}</td>
                        <td>
                           <span ng-if="l.status==1">Active</span>
                           <span ng-if="l.status==0">In-Active</span>
                        </td>
                        <td>
                           <a ng-click = "editBlogPage('/admin/edit-post/', l._id)">
                              <md-tooltip md-direction="bottom">Click to edit</md-tooltip>
                              <i class="material-icons edit">mode_edit</i>
                           </a>
                           <a ng-click = "postPreviewPage('/admin/view-post/', l._id);" >
                              <md-tooltip md-direction="bottom">Click to view</md-tooltip>
                              <i class="material-icons view">remove_red_eye</i> 
                           </a>
                           <a ng-click = "deletePost(l._id, $index, $event)">
                              <md-tooltip md-direction="bottom">Click to delete</md-tooltip>
                              <i class="material-icons color-red">delete</i>
                           </a>
                        </td>
                     </tr>
                  <tr ng-if="postResponse.table && postResponse.search">
                     <td colspan="6">
                        <p style="margin-top: 50px; margin-bottom: 50px;" class="text-center"> Your search - <b>{{searchFor}}</b> - did not match any record</p>
                     </td>
                  </tr>                     
                  </tbody>
               </table>
            </div>
         </div>
         <div class="clearfix">
            <ul uib-pagination ng-if="paging.count > paging.limit" previous-text="Previous" force-ellipses="forceEllipses" max-size="maxSize" items-per-page="paging.limit" total-items="paging.count" ng-model="paging.page" class="pagination pagination_theme pull-right" boundary-link-numbers="true" rotate="false" ng-change="getMorePosts()">
            </ul>
         </div>
      </div>
   </div>
   <div ng-if="!postResponse.success && !postResponse.search" ng-include="'backend/includes/views/no-result.html'">
   </div>
</section>