<!DOCTYPE html>
<html ng-app = myApp>
<head>
	<title>Cherry Door</title>
</head>
<body>
<div ng-view></div>

<script src = '/js/admin-site-lib.js'></script>
<!-- <script src = '/js/admin-site.js'></script> -->

<!-- <script src = '/assets/angular/app.js'></script>
<script src = '/assets/angular/routes.js'></script>
<script src = '/assets/angular/controllers/main_controller.js'></script> -->

</body>
</html>