@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
.btn-primary{background:#1E88E5;border-color:#1E88E5; }
.btn-primary:hover{background:#1068b5;border-color:#1068b5;}
.wrapper{width: 100%;}
/*.content-wrapper{height: 100vh}*/
.content-wrapper, .right-side{background: #fff;}
.positionrel{position: relative;;}
a {
    cursor: pointer;
}
md-icon {
     cursor: pointer;
}
.main-header .logo:hover{background-color:#222D32!important}
.back-color {
    background-color: #106AC3;
}
.md-accordion .expandCollapse {
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    display: block;
    margin-top: -2px;
    margin-left: -2px;
    overflow: hidden;
}
.md-accordion .expandCollapse:active {
    border: 0px;
}
.md-accordion .expandCollapse:before,
.md-accordion .expandCollapse:after {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 32px;
    text-align: center;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
}
.md-accordion .expandCollapse:before {
    opacity: 1 -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    content: "|";
    margin-top: -3px;
}
.md-accordion .expandCollapse:after {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    content: "|";
    margin-left: -3px;
}
.md-accordion .active:before {
    opacity: 1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 3px;
    margin-top: 0px;
}
.md-accordion .dataContent {
    background: #F2F2F2;
    height: 0px;
    overflow: hidden;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
}
.md-accordion .activeContent {
    height: auto;
    padding: 20px;
    display: block;
}
.md-accordion md-toolbar {
    cursor: pointer;
    border-bottom: 1px solid rgb(63, 107, 181)
}
.padding {
    padding: padding: 25px;
}
.pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}
.delete {
    color: #FF0000;
}
.active {
    color: #4d834d;
}
.faq-question {
    background-color: #D9DDEB;
    padding: 15px;
    font-size: 20px;
    border-bottom: 1px solid #ffffff;
}
.topmenu_right{margin-top: 40px;}
.martop10{margin-top: 10px;}
.martop40{margin-top: 40px;}
.margin-bot-10{margin-bottom: 10px;}
.padrightleft15{padding: 0 15px;}
.marinherit{margin:6px 0px 6px -6px!important; padding-left: 0!important;}
.color-white{color: #fff;}
.login-logo{padding: 15px; margin-bottom: 0; border-bottom: 1px solid #ddd;}
.login_main{width: 100%; height: 100vh; background: #fff; display: table; }
.login_main .login-box-msg{padding: 0 0 25px 0; font-family: 'Open Sans', sans-serif; text-align: center; font-weight: 400; font-size: 20px; color: #222;}
.login_main_inner{display: table-cell; vertical-align: middle; }
.login_main label{font-weight: 600; color: #333;}
.logibshadow{ max-width: 400px; width: 100%; padding-bottom: 15px; box-shadow: 3px -1px 3px 0 rgba(0,0,0,.07), -10px 2px 15px 1px rgba(0,0,0,.06);
-webkit-box-shadow: 3px -1px 3px 0 rgba(0,0,0,.07), -10px 2px 15px 1px rgba(0,0,0,.06);}
.topheader_icon{margin-right: 10px!important;}
.skin-blue .main-header .navbar{ background-color: #0091EA;}
.skin-blue .main-header .logo{border-right: 1px solid #222d32; background: #222d32;}
.welcometxtsection{padding: 15px 15px 0 15px;}
.welcometxt{padding: 10px; color: #fff; background:#AAAAAA; }
.login_main_inner label{font-family: 'Open Sans', sans-serif!important;font-size: 15px; color: #777!important;}
.pull-right.forgot_admin{text-align: right;}
.box {border-radius: 3px;border: 1px solid #eee; width: 100%; box-shadow: 0 0px 0px rgba(0,0,0,.1); }
.page_title{margin-bottom: 10px!important;}
.page_title .btn{padding: 5px 12px 3px 12px; font-size: 12px; color: #1e88e5; background: #fff;font-weight: 600; margin-left: 10px; border-radius: 0; -webkit-border-radius: 0;}
.serch_div{width: 260px;}
.navbar .nav>li.dropdown >a:hover,.skin-blue .main-header .navbar .sidebar-toggle:hover {background: rgba(0,0,0,0)!important;color:#fff!important;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background: rgba(0,0,0,0)!important;color:#fff!important;}
.noresultstxt{padding: 20px 15px; text-align: center;}
.noresultstxt h4{margin: 0 0 10px 0; font-size: 24px;}
.noresultstxt p{padding:0 20px; }
.min-heightauto{min-height: auto;}
.box-shadow{box-shadow: 0 1px 1px rgba(0,0,0,0.1); padding: 20px 30px 20px;}
.colorlabel{color: #444!important; font-weight: 400!important;}
md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {color: #444!important; font-weight: 400!important;}
.table-custom tr th{position: relative; border-right: 1px solid #eee; padding-right: 30px!important;}
.table-custom tr th a.sort{position:absolute;right:10px; top:10px; color: #333;}
#map-container {min-width: 310px;max-width: 800px;height: 400px;margin: 0 auto}
.viewlist_custom > li {margin-bottom: 10px; display: block; padding-bottom: 10px; border-bottom: 1px solid #eee;}
.viewlist_custom > li b{display: block; font-size: 14px; float: left;}
.viewlist_custom > li p{margin-left: 150px; margin-bottom: 0;}
.profile_details{width: 500px; position: relative; padding: 20px 20px 40px ; border: 1px solid #ddd; margin:0 auto;}
.profile_details .profile-username{margin-bottom: 35px;}
.viewlist_custom.profilelist_custom > li:last-child {border: 0;}
.viewlist_custom.profilelist_custom > li p{margin-left: 280px; }
.edit_profile_btn{position: absolute; right: 10px;}
.change_passwor_div{width: 600px; position: relative; }
.paddingfotter{padding-bottom: 80px;}
.bg-blue{position: relative;background-color: #00c0ef;box-shadow: 3px -1px 3px 0 rgba(0,0,0,.07), -10px 2px 15px 1px rgba(0,0,0,.06);-webkit-box-shadow: 3px -1px 3px 0 rgba(0,0,0,.07), -10px 2px 15px 1px rgba(0,0,0,.06);}
.bg-white{background-color: #fff; border: 1px solid #ddd;}
.user_details_dash{color: #fff;}
.user_details_dash tr td:first-child{padding-right: 15px;}
.user_details_dash tr td{padding: 5px 10px;}
.faq-question{margin-bottom: 10px;}
.faqtxt{font-size: 17px; padding-left: 25px; position: relative;}
.faqtxt span{position: absolute; left: 10px; top:0px;}
.height250{height: 400px;}
.color-green{color: #008d4c}
.color-orange{color: #ff851b}
.color-red{color: #dd4b39;}
.color-blue{color: #00c0ef;}
.edit{color: #4C4C4C;}
/*****************tablet**************************/
@media only screen and (max-width: 767px){
.topmenu_right{margin-top:86px;}
.faqtxt{display: block;     float: none!important;}
.faqaction{display: block;     float: none!important;}
}    
/*****************mobile**************************/
@media only screen and (max-width: 479px){
.logibshadow{width: 95%; margin: 0 auto;}
.login_main{height: auto;}
.pull-right.forgot_admin{float: left!important;}
.pull-right.forgot_admin{text-align: left;}
.noresultstxt p{padding:0 0px; }
.box-shadow{box-shadow: 0 1px 1px rgba(0,0,0,0.1); padding: 20px 10px 20px;}
.viewlist_custom > li b{ float: none;  margin-bottom:5px;}
.viewlist_custom > li p{margin-left: 0px;}
.profile_details{width: 100%;}
.viewlist_custom.profilelist_custom > li p{margin-left: 0px; } 
.profile_details .profile-username{margin-bottom: 20px;}
.edit_profile_btn{right: 0px;}
.profile-user-img.img-responsive.img-circle.martop40{margin-top: 30px;}

} 

