	<footer>
    	<div class="footerTop">
   	    <div class="container clearfix">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footLeft"><img src="assets/img/frontend/peach-logo.png" alt=""></div>
                </div>
                <div class="col-sm-9">
                  	<div class="footRight">
                  		<div class="footnav">
                        	<ul>
                            	
                                <li>
                                    <a role="button" ng-click = "fromFooterTo('/about-us')">&bull; &nbsp;About Us
                                </a>
                                </li>
                                
                                <li>
                                    <a role="button" ng-click = "fromFooterTo()">&bull; &nbsp;Service Categories
                                </a>
                                </li>
                                
                                <li>
                                    <a role="button" ng-click = "fromFooterTo('/privacy-policy')">&bull; &nbsp;Privacy Policy
                                </a>
                                </li>
                                
                                <li>
                                    <a role="button" ng-click = "fromFooterTo('/how-it-works')">&bull; &nbsp;How it works
                                </a>
                                </li>
                                
                                <li>
                                    <a role="button" ng-click = "fromFooterTo('/help-and-faq')">&bull; &nbsp;Help and FAQ
                                </a>
                                </li>
                                
                                <li>
                                    <a role="button" ng-click = "fromFooterTo('/terms-of-use')">&bull; &nbsp;Terms and Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
              	</div>
              </div>
            </div>
        </div>
        <div class="footerBot">
        	<div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="footbotInn">
                            All right reserved
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footbotInn">
                            <span>
                                <a href="#"><img src="assets/img/frontend/fb-icon.png" class="img" alt="">
                                <img src="assets/img/frontend/fb-icon.png" class="over" alt=""> Facebook</a>
                                <a href="#"><img src="assets/img/frontend/tweet-icon.png" class="img" alt="">
                                <img src="assets/img/frontend/tweet-icon.png" class="over" alt=""> Twitter</a>
                            </span>
                        </div>
                    </div>
                </div>
                
             </div>
        </div>
    </footer>	