<div class="dashHdrBx clearfix">
	<div class="dashlogoBx"><img src="assets/img/frontend/dash-logo.png"></div>
	<div class="dashHdr-L">
		<i class="material-icons">person</i>
		My Profile
	</div>
	<div class="dashHdr-R">
		<div class="messageBx mailnoti">
			<span class="greenBg">50</span>
			<i class="material-icons">mail</i>
		</div>
		<div class="notifiBx mailnoti">
			<span class="orangeBg">25</span>
			<i class="material-icons">notifications</i>

		</div>
		<div class="userBx" role="button" ng-click = "toPage('/my-profile')">
			<span><img src="{{imagePath}}"></span>
			{{ profileInfo.first_name}}
		</div>
	</div>
</div>