<section class="content-header" ng-init="showPagesList()">
   <h1 class="page_title"> CMS Pages  <span><button class="btn btn-primary" type="button" ng-click = "addNew('/admin/pages/add-new-page')" >Add New</button></span></h1>
</section>
<section class="content">
   <div class="row">
   <!-- <div class="row" ng-if = "postResponse.table"> -->
      <div class="col-xs-12">
         <div class="box">
            <div class="box-header">               
               <form name  = "searchForm" ng-submit = "searchForm.$valid && search(searchFor)" novalidate="">
               <div class="input-group input-group-sm pull-right serch_div">
                  <input name="searchInput" ng-model = "searchFor" type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-change = "changeSearch(searchFor)" ng-model-options="{ debounce: 1000 }" required="">
                  <div class="input-group-btn">
                     <button type="submit" class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
                  </div>  
                  </div>                
               </form>
               
            </div>
            <div class="box-body no-padding table-responsive">
               <table class="table table-hover table-custom">
                  <tbody>
                     <tr>
                        <th width="40%">Page Title
                           <a class="sort" >
                           <i ng-click = "sort(searchFor, 'title', $event)" ng-class = "alphaAsc"  aria-hidden="true">
                           </i>
                           <md-tooltip md-direction="top">Sort by title</md-tooltip>
                           </a>
                        </th>
                        <th width="10%">Top
                           <a class="sort">
                           <i ng-click = "sort(searchFor, 'author',  $event)" ng-class = "alphaAsc" aria-hidden="true">
                           </i>
                           <md-tooltip md-direction="top">Sort by top</md-tooltip>
                           </a>
                        </th>
                        <th  width="10%">Bottom
                           <a class="sort" >
                           <i ng-click = "sort(searchFor,
                           'sort',  $event)" ng-class = "alphaAsc" aria-hidden="true">
                           </i>
                           <md-tooltip md-direction="top">Sort by bottom</md-tooltip>
                           </a>
                        </th>
                        <th  width="10%">Order
                           <a class="sort"  >
                           <i ng-click = "sort(searchFor, 'type',  $event)" ng-class = "numericAsc" aria-hidden="true">
                           </i>
                           <md-tooltip md-direction="top">Sort by order</md-tooltip>
                           </a>   
                        </th>
                        <th  width="10%">Status 
                           <a class="sort"  >
                           <i ng-click = "sort(searchFor, 
                           'status',  $event)" ng-class = "alphaAsc" aria-hidden="true">
                           </i>
                           <md-tooltip md-direction="top">Sort by status</md-tooltip>
                           </a>
                        </th>
                        <th  width="20%">Action</th>
                     </tr>
                     <tr ng-repeat="l in pageResult.page">
                        <td>
                           {{l.title | limitTo: 10000}} 
                           <span ng-if="l.title.length>10000">
                           <i class="material-icons">more_horiz</i>
                           <md-tooltip md-direction = "bottom">Click on view to read more...</md-tooltip>
                           </span>
                        </td>
                        <td>
                        <span ng-if="l.top==1" >Yes</span>
                        <span ng-if="l.top==0" >No</span>
                         </td>
                        <td> 
                        <span ng-if="l.bottom==1" >Yes</span>
                        <span ng-if="l.bottom==0" >No</span>
                        </td>
                        <td>{{l.sort}}</td>
                        <td>
                           <span ng-if="l.status==1">Active</span>
                           <span ng-if="l.status==0">In-Active</span>
                        </td>
                        <td>
                           <a ng-click = "redirectTo('/admin/pages/', l._id)">
                              <md-tooltip md-direction="bottom">Click to edit</md-tooltip>
                              <i class="material-icons edit">mode_edit</i>
                           </a>
                           <a ng-click = "redirectTo('/admin/page/detail/', l._id);" >
                              <md-tooltip md-direction="bottom">Click to view</md-tooltip>
                              <i class="material-icons view">remove_red_eye</i> 
                           </a>
                           <a ng-click = "delete(l._id, $index, $event)">
                              <md-tooltip md-direction="bottom">Click to delete</md-tooltip>
                              <i class="material-icons color-red">delete</i>
                           </a>
                        </td>
                     </tr>
                  <tr ng-if="postResponse.table && postResponse.search">
                     <td colspan="6">
                        <p style="margin-top: 50px; margin-bottom: 50px;" class="text-center"> Your search - <b>{{searchFor}}</b> - did not match any record</p>
                     </td>
                  </tr>                     
                  </tbody>
               </table>
            </div>
         </div>
         <div class="clearfix">
            <ul uib-pagination ng-if="paging.count > paging.limit" previous-text="Previous" force-ellipses="forceEllipses" max-size="maxSize" items-per-page="paging.limit" total-items="paging.count" ng-model="paging.page" class="pagination pagination_theme pull-right" boundary-link-numbers="true" rotate="false" ng-change="getMorePosts()">
            </ul>
         </div>
      </div>
   </div>
   <!-- <div ng-if="!postResponse.success && !postResponse.search" ng-include="'backend/includes/views/no-result.html'"> -->
   </div>
</section>   