
    <section class="content-header">
      <h1>Blog Details</h1>
   </section>
   <section class="content paddingfotter">
      <div class="row">
         <div class="col-md-12 martop10 box-primary">
            <div class="box-body box-profile">              
               <ul class="list-unstyled viewlist_custom">
                  <li class="frame">
                      <img src="{{page.image}}" class="img-responsive" alt="Cinque Terre" width="50%" height="236"> 
                      
                  </li>  
                  <li>
                     <b>Title: </b> <p>{{page.title}} </p>
                  </li>                  
                  <li>
                     <b>Meta Keyword: </b> <p>{{page.meta_keywords}}</p>
                  </li>
                  <li>
                     <b>Meta Description: </b> <p>{{page.meta_description}}</p>
                  </li>

                  <li>
                      <b>Sort Description: </b> <p>{{page.short_description}}</p>
                  </li>     


                  <li>
                     <b>Sort: </b> <p>{{page.sort}}</p>
                  </li>     


                  <li>
                      <b>Page Content: </b> <p>{{page.content}}</p>
                  </li>                  
                  <li>
                     <b>In Top: </b>                      
                     <p>
                     <span ng-if = "page.status=='1'" >Yes</span>
                     <span ng-if = "page.status=='0'" >No</span>                       
                     </p>
                  </li> 

                  <li>
                     <b>In Bottom: </b>    
                     <p>
                     <span ng-if = "page.status=='1'" >Yes</span>
                     <span ng-if = "page.status=='0'" >No</span>                     
                     </p>                  

                  </li>                    
                  <li>
                     <b>Created: </b> 
                     <p>
                     {{page.created_at | date :  "dd.MM.y"}}                             
                     </p>             
                  </li>          

                  <li>
                     <b>Status: </b> 
                     <p>
                     <span ng-if = "page.status=='1'" >Active</span>
                     <span ng-if = "page.status=='0'" >In Active</span>                        
                     </p>
                  </li>
               </ul>            
            </div>
         </div>
      </div>
</div>
</section>